{{>navbar}}


<section class="hero has-background-link-light is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">

        <figure class="avatar">
          <img src="https://placehold.it/128x128">
        </figure>
        <div class="substitle">{{{username}}}</div>
        <div class="substitle">{{{name}}}</div>

      </div>
    </div>
  </div>
</section>

<div class="card">
  <footer class="card-footer">
    
    <a href="#" class="card-footer-item">portfolio</a>
    <a href="#" class="card-footer-item">certificates</a>
    <a href="#" class="card-footer-item">Contact</a>
  </footer>
</div>

{{>footer}}